<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" ></link>
</head>
<body>
	<div class="container">
	    <div class="jumbotron alert-danger">
			<h2>Oops. Something went wrong</h2>
			<h4>Seems like database is not available. Check logs for details.</h4>
	    </div>
	</div>
</body>

</html>